#team_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: flex;
}
#team_background {
  background-image: url('https://images.clickfunnels.com/90/3db3c96bd443c59d7a49e73ad11498/Background-Header-4.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 0.1rem;
  margin-top: 3rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#left_block_team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  margin-right: 3rem;
}
.img_container {
  text-align: center;
  /* flex-basis: 50%; */
  max-width: 100%;
}
img[alt='team_member'] {
  border: 0.5rem solid #610a33;
  border-radius: 50%;
}
.img_header {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
  color: #fff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
}

.img_title {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 500;
  margin-top: 0rem;
  font-size: 1.6rem;
  color: #fc3792;
}
.img_container img {
  max-width: 100%;
  height: 10rem;
}

.img_centered {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}

#right_block_team {
  width: 80%;
  margin-left: 0;
  margin-top: 5rem;
}

#right_header {
  font-size: 3.2rem;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
  color: #fc3792;
}

.right_text {
  font-size: 1.8rem;
  color: #fff;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
}

@media (max-width: 830px) {
  /* Styles for screens 830 pixels and below */
  #team_container {
    flex-direction: column;
    align-items: center;
  }

  .img_container {
    text-align: center;
    flex-basis: 100%;
    max-width: 100%;
  }

  #left_block_team {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  #right_block_team {
    text-align: center;
  }
  .img_centered {
    grid-column-start: unset;
    grid-column-end: unset;
    justify-self: unset;
  }
}
